<h1>This is the secret page!</h1>

<p>You found me</p>

<img src="https://upload.wikimedia.org/wikipedia/en/7/77/Ariel_disney.png">
<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>